<ul class="projectList">
    <li class="project-item" *ngFor="let project of projects">
        <a routerLink='/project/{{project.id}}'>{{project.name}}</a>
    </li>
</ul>
<div class="buttonMenu">
    <button class="addButton" routerLink='/newProject'>+</button>
</div>