<form (ngSubmit)="saveProject()" [formGroup]="projectForm">
    <h1>
        Create a project
    </h1>
    <label for="projectNameInput">Project name:</label>
    <input type="text" id="projectNameInput" formControlName="name" autocomplete="off">
    <label for="projectDescriptionInput">Description:</label>
    <input type="text" id="projectDescriptionInput" formControlName="description" autocomplete="off">
    <label for="projectDeadlineInput">Deadline:</label>
    <input type="text" id="projectDeadlineInput" formControlName="deadline" autocomplete="off">
	
    <div class="buttonMenu">
        <button type="submit" [disabled]="projectForm.invalid">Create</button>
        <button type="button" routerLink='/projects'>Cancel</button>
    </div>
</form>