<div class="projectDetails">
    <h3>{{project.Name}}</h3>
	<div class="line"></div>
	<p>{{project.description}}</p>
	<p>Author: {{project.author.firstName}} {{project.author.lastName}}</p>
	<p>Team: {{project.team.name}}</p>
	<p>Created: {{project.createdAt | date | myDatePipe}}. Deadline: {{project.deadline | date | myDatePipe}}</p>
</div>
<div class="buttonMenu">
    <button class="addButton"  routerLink='/deleteProject/{{project.id}}'>x</button>
</div>