.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
}

a {
    margin: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: #251E30;
    color: #F2F3ED;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    background-color: #423753
}