<ul class="teamList">
    <li class="team-item" *ngFor="let team of teams">
        <a routerLink='/team/{{team.id}}'>{{team.name}}</a>
    </li>
</ul>
<div class="buttonMenu">
    <button class="addButton" routerLink='/newTeam'>+</button>
</div>