<ul class="userList">
    <li class="user-item" *ngFor="let user of users">
        <a routerLink='/user/{{user.id}}'>{{user.firstName}} {{user.lastName}}</a>
    </li>
</ul>
<div class="buttonMenu">
    <button class="addButton" routerLink='/newUser'>+</button>
</div>