<div class="userDetails">
    <h3>{{user.firstName}} {{user.lastName}}</h3>
	<div class="line"></div>
	<p>Email: {{user.email}}</p>
	<p>Team: {{user.team.name}}</p>
	<p>Birthday: {{user.birthday | date | myDatePipe}}</p>
</div>
<div class="buttonMenu">
    <button class="addButton"  routerLink='/deleteUser/{{user.id}}'>x</button>
</div>