.userDetails {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 15px auto;
    width: 50%;
    padding: 0;
    flex-direction: column;
	background-color: #251E30;
    color: #F2F3ED;
	border-radius: 20px;
}

.line {
	width: 95%;
	height: 1px;
	background-color: #F2F3ED;
	margin: auto;
}

.buttonMenu {
	display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    border-radius: 100%;
    border: 1px solid #e0e2d6;
    background-color: transparent;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

button:hover {
    background-color: #251E30;
    color: #F2F3ED;
}