<form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <h1>
        Create a user
    </h1>
    <label for="userFirstNameInput">User first name:</label>
    <input type="text" id="userFirstNameInput" formControlName="firstName" autocomplete="off">
    <label for="userLastNameInput">User last name:</label>
    <input type="text" id="userLastNameInput" formControlName="lastName" autocomplete="off">
    <label for="emailInput">email:</label>
    <input type="text" id="emailInput" formControlName="email" autocomplete="off">
    <label for="birthdayNameInput">birthday:</label>
    <input type="text" id="birthdayNameInput" formControlName="birthday" autocomplete="off">
	
    <div class="buttonMenu">
        <button type="submit" [disabled]="userForm.invalid">Create</button>
        <button type="button" routerLink='/users'>Cancel</button>
    </div>
</form>