<form (ngSubmit)="saveTask()" [formGroup]="taskForm">
    <h1>
        Create a task
    </h1>
    <label for="taskNameInput">Task name:</label>
    <input type="text" id="taskNameInput" formControlName="name" autocomplete="off">
    <label for="taskDescriptionInput">Description:</label>
    <input type="text" id="taskDescriptionInput" formControlName="description" autocomplete="off">
    <label for="taskDeadlineInput">Deadline:</label>
    <input type="text" id="taskDeadlineInput" formControlName="finishedAt" autocomplete="off">
	
    <div class="buttonMenu">
        <button type="submit" [disabled]="taskForm.invalid">Create</button>
        <button type="button" routerLink='/tasks'>Cancel</button>
    </div>
</form>