form {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 15px auto;
    width: 50%;
    padding: 0;
    flex-direction: column;
	background-color: #251E30;
    color: #F2F3ED;
	border-radius: 15px;
}

input {
    width: 50%;
    margin: 10px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 5px;
}

button {
    border-radius: 10px;
    border: 1px solid #e0e2d6;
    background-color: #F2F3ED;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
    margin: 15px;
}

button:hover {
    background-color: #251c35;    
    color: #F2F3ED;
}

.custom-error {
    visibility: hidden;
}