<form (ngSubmit)="saveTeam()" [formGroup]="teamForm">
    <h1>
        Create a team
    </h1>
    <label for="teamNameInput">Team name:</label>
    <input type="text" id="teamNameInput" formControlName="name" autocomplete="off">
    <div class="custom-error" [ngClass]="this.teamForm.get('name').errors">
        Is required
    </div>
    <div class="custom-error" [ngClass]="this.teamForm.get('name')?.errors">
        Must be at least 4 characters long.
    </div>
    <div class="buttonMenu">
        <button type="submit" [disabled]="teamForm.invalid">Create</button>
        <button type="button" routerLink='/teams'>Cancel</button>
    </div>
</form>