<div class="taskDetails">
    <h3>{{task.name}}</h3>
	<div class="line"></div>
	<p>{{task.description}}</p>
	<p>State: {{task.state.value}}</p>
	<p>Project: {{task.project.name}}</p>
	<p>Perfomer: {{task.perfomer.firstName}} {{task.perfomer.lastName}}</p>
	<p>Created: {{task.createdAt | date | myDatePipe}}. Finished: {{task.finishedAt | date | myDatePipe}}</p>
</div>
<div class="buttonMenu">
    <button class="addButton" routerLink='/deleteTask/{{task.id}}'>x</button>
</div>