<div class="teamDetails">
    <h3>{{team.name}}</h3>
	<div class="line"></div>
	<p>Created: {{team.createdAt | date | myDatePipe}}</p>
</div>
<div class="buttonMenu">
    <button type="button" class="deleteButton" routerLink='/deleteTeam/{{team.id}}'>x</button>
</div>