<ul class="taskList">
    <li class="task-item" *ngFor="let task of tasks">
        <a routerLink='/task/{{task.id}}'>{{task.name}}</a>
    </li>
</ul>
<div class="buttonMenu">
    <button class="addButton" routerLink='/newTask'>+</button>
</div>