.buttonMenu,
.taskList {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 15px auto;
    width: 50%;
    padding: 0;
    flex-direction: column;
}

.buttonMenu {
    flex-direction: row;
}

li {
    display: block;
    width: 100%;
    height: 10%;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #e0e2d6;
    padding: 10px;
    margin: 10px 0;
}

li:hover {
    background-color: #251E30;
    color: #F2F3ED;
}

button {
    border-radius: 100%;
    border: 1px solid #e0e2d6;
    background-color: transparent;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

button:hover {
    background-color: #251E30;
    color: #F2F3ED;
}

a {
    text-decoration: none;
    color: #251E30;
    width: 100%;
}

li:hover a {
    background-color: #251E30;
    color: #F2F3ED;
}